nav ul {
    list-style: none;
    display:flex;
    gap: 2rem;
    padding: 0 2.5rem 0 0;
}

nav ul li{
    width: 80px;
    text-align: center;
    color: white;
    font-weight: 800;
    letter-spacing: 0.05em;
}