:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100vw;
  height: 15vh;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: -1px 10px 26px -1px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 10px 26px -1px rgba(0,0,0,0.1);
box-shadow: -1px 10px 26px -1px rgba(0,0,0,0.1);

}

main{
  width: 100vw;
  min-height: 75vh;
}

footer{
  width: 100vw;
  height: 10vh;
  -webkit-box-shadow: -1px -5px 26px -1px rgba(0,0,0,0.1);
-moz-box-shadow: -1px -5px 26px -1px rgba(0,0,0,0.1);
box-shadow: -1px -5px 26px -1px rgba(0,0,0,0.1);
display:flex;
justify-content: center;
align-items: center;
}
